<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="emp" class="com.entity.Employee">
	<constructor-arg index="0" value="101"></constructor-arg>
	<constructor-arg index="1" value="Salman"></constructor-arg>
	<constructor-arg index="2" value="22"></constructor-arg>
	<constructor-arg index="3" value="Talegaon-Dabhade"></constructor-arg>
	<constructor-arg index="4" ref="dep"></constructor-arg>
	</bean>
	
	<bean id = "dep" class ="com.entity.Department">
	<constructor-arg index="0" value="1"></constructor-arg>
	<constructor-arg index="1" value="Java_Developer"></constructor-arg>
	</bean>



</beans>